<div class="hunted-pokemon-wrapper">
  <button *ngIf="! finished" class="hunted-pokemon-buttons__btn hunted-pokemon-buttons__btn__shiny-btn" (click)="foundShiny()">
    <img src="assets/icons/shining.svg" alt="Shining icon">
  </button>
  
  <div class="hunted-pokemon">
    <img *ngIf="! finished" src="assets/sprites/regular/{{ currentHunt.img }}" class="hunted-pokemon__img" alt= "Icon of a {{ currentHunt.name }}"/>
    <img *ngIf="finished" src="assets/sprites/shiny/{{ currentHunt.img }}" class="hunted-pokemon__img" alt= "Icon of a {{ currentHunt.name }}"/>

    <div class="hunted-pokemon__info">
      <span class="hunted-pokemon__info__name">
        {{ currentHunt.name }}
        
        <span class="hunted-pokemon__info__img">
          <img *ngIf="currentHunt.options.masuda" src="assets/icons/oval-charm.png" alt="Icon of an oval charm" class="hunted-pokemon__info__img__oval-charm">
          <img *ngIf="currentHunt.options.charm" src="assets/icons/shiny-charm.png" alt="Icon of a shiny charm" class="hunted-pokemon__info__img__shiny-charm">
        </span>
      </span>

      <div class="hunted-pokemon__info__progress-bar">
        <div class="hunted-pokemon__info__progress-bar__inner" [style.width.%]="currentHunt.shinyProbability"></div>
      </div>

      {{ currentHunt.counter }} {{ currentHunt.method }}
    </div>
  </div>

  <div *ngIf="! finished" class="hunted-pokemon-buttons">
    <button class="hunted-pokemon-buttons__btn" (click)="incrementCounter()">+</button>
    <button class="hunted-pokemon-buttons__btn" (click)="decrementCounter()">-</button>  
  </div>

  <div *ngIf="finished" class="hunted-pokemon-buttons">
    <button class="hunted-pokemon-buttons__btn hunted-pokemon-buttons__btn__trash-btn" (click)="deleteFinishedHunt()">
      <img src="assets/icons/trash-white.svg" alt="Trash icon">
    </button>
  </div>
</div>