<div class="app-wrapper">

  <mat-drawer-container [hasBackdrop]="false">
    <mat-drawer class="sidebar" #drawer opened [mode]="'push'">

      <div class="sidebar__wrapper">
        <span class="sidebar__title">Hunts</span>

        <div class="sidebar__hunt-list">
          <div class="sidebar__hunt-item" [attr.data-uid]="hunt.id" *ngFor="let hunt of huntsList" (click)="setCurrentHunt(hunt.id)">
            <span class="sidebar__hunt-pokemon">
              <img class="sidebar__hunt-img" src="assets/sprites/regular/{{ hunt.img }}" alt="Icon of a {{ hunt.name }}">
              <div class="sidebar__hunt-name">{{ hunt.name }}</div> 
            </span>

            <img class="sidebar__hunt-btn" (click)="deleteHunt(hunt.id)" src="assets/icons/trash.svg" alt="delete button">
          </div>
        </div>
        
        <div class="sidebar__hunt-form">
            <button class="sidebar__form-btn" type="submit" (click)="showNewHuntModal()">New hunt</button>
        </div>
      </div>
    </mat-drawer>
    

    <mat-drawer-content>

      <app-pokemon *ngIf="currentHunt" [currentHunt]="currentHunt"></app-pokemon>
    
      <h3 *ngIf="!currentHunt" class="hunted-pokemon-wrapper">
        Create and select a hunt to start counting
      </h3>

      <button class="drawer-toggle-btn" (click)="drawer.toggle()">
        <span *ngIf="drawer.opened"><</span>
        <span *ngIf="!drawer.opened">></span>
      </button>

    </mat-drawer-content>
  </mat-drawer-container>

</div>