mat-drawer-container {
    width: 100vw;
    height: 100vh;
}

mat-drawer {
    width: 300px;
}
  
mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sidebar__wrapper {
    background-color: #333333;

    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.sidebar__title, 
.sidebar__hunt-form {
    background-color: #262626;
    width: 100%;
    padding: 20px 0 20px 0;
}

.sidebar__title {
    height: 50px;
    color: #FDFDFD;
    font-size: 30px;
    text-align: center;

    clip-path: polygon(0% 0%, 100% 0%, 100% 66%, 0% 100%)
}

.sidebar__hunt-form {
    height: 80px;

    display: grid;
    place-items: center;

    clip-path: polygon(0% 33%, 100% 0%, 100% 100%, 0% 100%);
}

.sidebar__hunt-item {
    background-color: #FFFFFF;
    width: 220px;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 25px;
}

.sidebar__hunt-item > * {
    margin: 0 20px;
}

.sidebar__hunt-name {
    color: black;
}

.sidebar__hunt-btn {
    width: 20px;
    height: 20px;
}

.sidebar__form-btn {
    background-color: #FFFFFF;
    color: black;
    outline: none;
    width: 220px;
    height: 50px;
    border-radius: 25px;

    margin-top: 30px;
}

.drawer-toggle-btn {
    position: absolute;
    bottom: 38px;
    left: -15px;

    height: 60px;
    width: 60px;

    background-color: #333333;
    color: white;
    border: none;
    border-radius: 0 50% 50% 0;
    font-size: 20px;
}