mat-drawer-container {
    width: 100vw;
    height: 100vh;
}

mat-drawer {
    width: 300px;
}
  
mat-drawer-content {
    padding: 12px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;

    background-color: #E1E1E1;
}

.hunted-pokemon-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.sidebar__wrapper {
    background-color: #333333;

    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100vh;
}

.sidebar__title, 
.sidebar__hunt-form {
    background-color: #262626;
    width: 100%;
    padding: 20px 0 20px 0;
}

.sidebar__title {
    height: 50px;
    color: #FDFDFD;
    font-size: 30px;
    text-align: center;

    clip-path: polygon(0% 0%, 100% 0%, 100% 66%, 0% 100%)
}

.sidebar__hunt-form {
    height: 80px;

    display: grid;
    place-items: center;

    clip-path: polygon(0% 33%, 100% 0%, 100% 100%, 0% 100%);
}

.sidebar__hunt-item {
    background-color: #FFFFFF;
    width: 220px;
    height: 50px;
    margin: 15px 0;
    cursor: pointer;

    display: flex;
    align-items: center;
    justify-content: space-between;

    border-radius: 25px;
}


.sidebar__hunt-pokemon {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.sidebar__hunt-name {
    color: black;
}

.sidebar__hunt-img {
    position: relative;
    bottom: 10px;
    width: calc(68px * 0.8);
    height: calc(56px * 0.8);
}

.sidebar__hunt-btn {
    width: 20px;
    height: 20px;
    margin-right: 20px;
}

.sidebar__form-btn {
    background-color: #FFFFFF;
    color: black;
    outline: none;
    width: 220px;
    height: 50px;
    border-radius: 25px;
    margin-top: 30px;

    cursor: pointer;
}

.drawer-toggle-btn {
    position: absolute;
    bottom: 38px;
    left: -15px;

    height: 60px;
    width: 60px;

    background-color: #333333;
    color: white;
    border: none;
    border-radius: 0 50% 50% 0;
    font-size: 20px;

    cursor: pointer;
}

.hunted-pokemon-wrapper {
    text-align: center;
}

.hunted-pokemon {
    width: 275px;

    border-radius: 40px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: white;
    box-shadow: 0px 2px 5px #333;
}

.hunted-pokemon__img {
    position: relative;
    left: 2px;
    bottom: 12px;
    width: calc(68px * 1.2);
    height: calc(56px * 1.2);
}

.hunted-pokemon__info__img__oval-charm, 
.hunted-pokemon__info__img__shiny-charm {
    width: 20px;
    height: 20px;
}

.hunted-pokemon__info {
    margin: 0 30px 0 5px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.hunted-pokemon__info__name {
    font-size: 18px;

    width: 100%;

    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.hunted-pokemon__info__progress-bar {
    width: 165px;
    height: 6px;

    margin: 4px 0px;
    background-color: #ccc;
}

.hunted-pokemon__info__progress-bar__inner {
    height: 6px;

    background-color: #43C844;
}

.hunted-pokemon__info__counter-wrapper {
    display: flex;
    width: 50px;
}

.hunted-pokemon-buttons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.hunted-pokemon-buttons__btn {
    width: 40px;
    height: 40px;
    font-size: 25px;
    outline: none;

    margin: 5px;

    border: none;
    border-radius: 50%;
    background-color: #333;
    color: white;
    box-shadow: 0px 2px 5px #333;

    cursor: pointer;
}