<div class="modal-content">
  <form [formGroup]="huntForm" (ngSubmit)="confirm()">
  
    <div class="modal-header">
      <h4>{{title || 'Confirm'}}</h4>
    </div>
    


    <div class="modal-body">

        <input type="text" name="huntName" value="" placeholder="Your hunt name" formControlName="huntName"/>

        <mat-form-field>
          <mat-label>Generation</mat-label>
          <mat-select name="huntGen" formControlName="huntGen">
            <mat-option value="1">Gen 5 or lower</mat-option>
            <mat-option value="2">Gen 6 or higher</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Hunt method</mat-label>
          <mat-select name="huntMethod" formControlName="huntMethod" (selectionChange)="methodChanged($event.value)">
            <mat-option value="1">Random Encouters</mat-option>
            <mat-option value="2">Soft Resets</mat-option>
            <mat-option value="3">Eggs</mat-option>
          </mat-select>
        </mat-form-field>
        
        <label>
          <input type="checkbox" name="Masuda method" id="masuda-method" formControlName="huntMasuda">
          Masuda method
        </label>
    
        <label>
          <input type="checkbox" name="Shiny charm" id="shiny-charm" formControlName="huntShinyCharm">
          Shiny charm
        </label>
      
    </div>
    


    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger" (click)="close()" >Cancel</button>
      <button type="submit" class="btn btn-primary" [disabled]="!huntForm.valid">OK</button>
    </div>

  </form>
</div>