<div class="modal-content">
  <form [formGroup]="huntForm" (ngSubmit)="confirm()">
  
    <div class="modal-header">
      <h4>{{title || 'Confirm'}}</h4>
    </div>
    
    <div class="modal-body">
        <mat-form-field>
          <mat-label>Pokémon</mat-label>
          <mat-select name="huntPokemon" formControlName="huntPokemon" #selectedPokemon>
            <mat-select-trigger>
              {{selectedPokemon.value}}
            </mat-select-trigger>
            <mat-option>
              <ngx-mat-select-search placeholderLabel="Search by name..." noEntriesFoundLabel="No Pokémon found" [formControl]="pokemonFilterControl">
                <div ngxMatSelectSearchClear>X</div>
              </ngx-mat-select-search>
            </mat-option>
            <mat-option *ngFor="let pokemon of filteredPokemonList | async" [value]="pokemon.name">
              <img loading="lazy" height="42" src="assets/sprites/regular/{{pokemon.img}}">
              {{pokemon.name}}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Generation</mat-label>
          <mat-select name="huntGen" formControlName="huntGen">
            <mat-option value="1">Gen 5 or lower</mat-option>
            <mat-option value="2">Gen 6 or higher</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Hunt method</mat-label>
          <mat-select name="huntMethod" formControlName="huntMethod" (selectionChange)="methodChanged($event.value)">
            <mat-option value="1">Random Encouters</mat-option>
            <mat-option value="2">Soft Resets</mat-option>
            <mat-option value="3">Eggs</mat-option>
            <mat-option value="4">Run Aways</mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field>
          <mat-label>Counter</mat-label>
          <input matInput name="huntCounter" formControlName="huntCounter" maxlength="10" placeholder="0" value="0">
        </mat-form-field>
        
        <mat-checkbox id="masuda-method" formControlName="huntMasuda" color="primary">Masuda Method</mat-checkbox>
        <mat-checkbox id="shiny-charm" formControlName="huntShinyCharm" color="primary">Shiny Charm</mat-checkbox>
      
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-outline-danger modal-footer__cancel-btn" (click)="close()" >Cancel</button>
      <button type="submit" class="btn btn-primary modal-footer__ok-btn" [disabled]="!huntForm.valid">OK</button>
    </div>

  </form>
</div>